@import "../../global.scss";

.about{
    background-color: #fff;
    display: flex;

    .left{
        flex: 0.5;
        background-color:green;
    }

    .right{
        flex: 0.5;
        background-color:blue;

    }
}